@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

html,
body {
  background-color: #000;
  min-height: 100%;
}

@layer base {
  html,
  body {
    @apply bg-black;
  }
}

#root {
  min-height: 100vh;
  background-color: #000;
}

* {
  color: #ececec;
  font-family: "Inter", "Sen", sans-serif;
}

@layer utilities {
  @media (max-width: 768px) {
    .bg-mobile {
      background-size: 250% !important;
      background-position: -50vh 30vh !important;
    }
  }
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
